*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* start for navar */
/* end for navar */

/* start for banner */
.banner{
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner a{
	background-color: black;
	padding: 10px;
	color: #ccc;
	text-decoration: none;
}
.banner h1,
.banner p{
	color: white;
}
/* end for banner */

/* start for showcase  */
.showcase{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}
.showcase img{
	height: 100%;
	width: 100%;
}
/* end for showcase  */

/* start for new arrivals */
.arrivalsDetails{
	background: #efefef;
	text-align: center;
	padding: 10px;
	color: #888585;
	/*display: inline-block;*/
}
.arraivals{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.arrivals img{
	height: 100%;
	width: 100%;
	display: block;
}
/* end for new arrivals */

/* start for add */
#add{
	background-color: #999999;
	color: #efefef;
	height: 150px;
	margin-top: 40px;
}
#add .add{
	text-align: center;
	padding-top: 50px;
}
/* end for add */

/* start for product details */
#productDetails{
	margin-top: 40px;
}
#productDetails .twoside{
	display: flex;
}
/* end for product details */

/* start for article */
.articals{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
#articles{
	margin-top: 40px;
}
#articles .arbgcolor{
	background-color: #efefef;
	padding: 10px;
}
#articles .arbgcolor button{
	border: 0px solid black;
	background-color: #cccccc;
	padding: 5px;
}
#articles .arbgcolor a{
	color: black;
}
/* end for article */

/* start for footer */
footer{
	background-color: black;
	color: #efefef;
}
footer ul li{
	margin-left: 20px;
}
footer .input{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
	padding-top: 20px;
}

/* end for footer  */

@media (max-width: 800px){
	/*start for arraivals*/
	.arraivals{
		grid-template-columns: repeat(2, 1fr);
	}
	/*end for arraivals*/

	/*start for articals*/
	.articals{
	grid-template-columns: repeat(2, 1fr);
	}
	/*end fro articals*/
}
@media (max-width: 500px){
	/*start for arraivals*/
	.arraivals{
		grid-template-columns: 1fr;
	}
	.arraivals img{
		width: 100%;
	}
	/*end for arraivals*/
	/*start for articals*/
	.articals{
	grid-template-columns: 1fr;
	}
	.articals img{
		width: 100%;
	}
	/*end fro articals*/

}
